-------------------------- loader

/*----------------------------------------*/
/*  2.10 Preloader
/*----------------------------------------*/
#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 99999;
    text-align: center;
}

.preloader-wrap {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.plane {
    position: absolute;
    margin: 0 auto;
    width: 220px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plane-img {
    -webkit-animation: spin 2.5s linear infinite;
    -moz-animation: spin 2.5s linear infinite;
    animation: spin 2.5s linear infinite;
}




@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.earth-wrapper {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    padding-top: 2.7rem;
}

.earth {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-size: 340px;
    animation: earthAnim 12s infinite linear;
    margin: 0 auto;
    border: 1px solid var(--bd-border-primary);
    top: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 575px) {
    .plane {
        width: 160px;

    }

    .earth {
        width: 100px;
        height: 100px;
    }
}

@keyframes earthAnim {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -340px;
    }
}


/* ----------------- before */
.mobileAirLogo:before {
    width: 34px;
    background: linear-gradient(270deg, rgb(216, 225, 235) 0%, rgb(245, 247, 250) 102.79%);
    margin-right: 6px;
    content: "";
    height: 1px;
    flex: 1 1 0%;
    display: block;

}

.mobileAirLogo::after {
    width: 34px;
    background: linear-gradient(270deg, rgb(245, 247, 250) 0%, rgb(216, 225, 235) 102.79%);
    margin-left: 6px;
    content: "";
    height: 1px;
    flex: 1 1 0%;
    display: block;
}